/*------------------------------------------------------------------------*/
/* This is the main-css file for global classes like colors or font faces */
/*------------------------------------------------------------------------*/

/*Font Faces*/
@font-face {
    font-family: mainFont;
    src: url(brandon_grotesque_bold-webfont.woff2);
}

/*Color scheme background*/
.bg_main {
    background-color: #012840;
}

.bg_blue {
    background-color: #115D8C;
}

.bg_red {
    background-color: #400808;
}

.bg_green_1 {
    background-color: #403F08;
}

.bg_green_2 {
    background-color: #8C8A0A;
}

/*Color scheme text*/
.text_main {
    background-color: #012840;
}

.text_blue {
    background-color: #115D8C;
}

.text_red {
    background-color: #400808;
}

.text_green_1 {
    background-color: #403F08;
}

.text_green_2 {
    background-color: #8C8A0A;
}